Flask==0.10.1
-e git://github.com/mrjoes/flask-admin.git@3c2b7122eb796b78d7ea4dde1386b7e18ad49920#egg=Flask_Admin-dev
Flask-Login==0.2.11
Flask-Mandrill==0.2
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.9.8
WTForms==2.0.2
Werkzeug==0.9.6
argparse==1.2.1
beautifulsoup4==4.3.2
itsdangerous==0.24
py==1.4.26
pytest==2.6.4
python-ldap==2.4.19
requests==2.5.1
six==1.9.0
wsgiref==0.1.2
