{% extends 'admin/base.html' %}

{% block head_css %}
    <link href="{{ url_for('static', filename='css/bootstrap-3.3.2-united.min.css') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css') }}" rel="stylesheet">
    <style>
    .main-container {
        padding-top: 70px;
    }
    </style>
{% endblock %}

{% block page_body %}
<div class="container main-container">
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block brand %}
          <a class="navbar-brand" href='{{ url_for('admin.index') }}'>{{ admin_view.admin.name }}</a>
          {% endblock %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% block main_menu %}
          <ul class="nav navbar-nav">
            {{ layout.menu() }}
            {{ layout.menu_links() }}
          </ul>
          {% endblock %}
          
          {% block menu_links %}
          <ul class="nav navbar-nav navbar-right">
              <li>
                  {% if current_user.is_authenticated() %}
                  <a href="{{ url_for('logout.index') }}">Logout</a>
                  {% else %}
                  <a href="{{ url_for('login.index') }}">Login</a>
                  {% endif %}
              </li>
          </ul>
          {% endblock %}
          
          {% block access_control %}
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  {% block messages %}
  {{ layout.messages() }}
  {% endblock %}

  {% set render_ctx = h.resolve_ctx() %}

  {% block body %}{% endblock %}
</div>
{% endblock %}
