{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
	<h1>Welcome to Maker Manager</h1>
    <h4>Maker Manager integrates the various systems that run Dallas Makerspace.</h4>
    Features:
    <ul>
        <li>Allows us to directly link users to their billing account while allowing them to use their usual login information.</li>
        <li>Request an RFID badge for yourself or other members.</li>
        <li>For administrators, it provides a self documenting solution for adding badges to the access control system along with an easy way to manage them.</li>
    </ul>
</div>
{% endblock %}