{% extends 'admin/model/list.html' %}

{# prevent blank column from displaying when can_edit and can_delete are disabled #}

{% block list_row_actions_header %}
    {% if admin_view.can_edit or admin_view.can_delete %}
    <th class="span1">&nbsp;</th>
    {% endif %}
{% endblock %}

{% block list_row_actions_column scoped %}
    {% if admin_view.can_edit or admin_view.can_delete %}
    <td>
        {% block list_row_actions scoped %}
            {%- if admin_view.can_edit -%}
            <a class="icon" href="{{ get_url('.edit_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('Edit record') }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {%- endif -%}
            {%- if admin_view.can_delete -%}
            <form class="icon" method="POST" action="{{ get_url('.delete_view') }}">
                {{ delete_form.id(value=get_pk_value(row)) }}
                {{ delete_form.url(value=return_url) }}
                {{ delete_form.csrf_token }}
                <button onclick="return confirm('{{ _gettext('Are you sure you want to delete this record?') }}');" title="Delete record">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            {%- endif -%}
        {% endblock %}
    </td>
    {% endif %}
{% endblock %}
